<html>
  <head>
    <script src="/jquery1.11.js"></script>
    <script src="/jquery.cookie.js"></script>
    <script>
    </script>
  </head>
  <body>
   <a href="/content" 
      onclick= " 
                $.cookie('type', '欢乐读书屋');
                $.cookie('cat', '儿童绘本');
                $.cookie('age', '1-3岁');
               "
                
   >欢乐读书屋</a>
   <a href="/session">session</a>
   <a href="/session-clear">session-clear</a>
   <a href="/content">content</a>
  
  </body>
    
</html>
